<header class="modal-header">
    <h1>이 사용자를 정지하겠습니까?</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    <strong>경고:</strong> 이 사용자는 더이상 로그인 할 수 없지만 사용자가 게시한 글은 유지됩니다.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>취소</span></button>
    <GhTaskButton @buttonText="Suspend" @successText="Suspended" @task={{this.suspendUser}} @class="gh-btn gh-btn-red gh-btn-icon" data-test-modal-confirm="true" />
</div>
