<header class="modal-header">
    <h1>메일함을 확인하세요</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">닫기</span></a>

<div class="modal-body">
    <b>{{this.fromAddress}}</b> 확인을 위하여 메일을 전송했습니다.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>닫기</span></button>
</div>
