<header>
    <h1><strong>Oasis Frog</strong>에 오신걸 환영합니다!</h1>
    <p>Ghost 기반의 온라인 블로깅 플랫폼으로 나만을 위한, 나에 의한 사이트를 만들어 갑니다. 자, 이제 당신을 사이트를 시작해볼까요?</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="assets/img/install-welcome.png" alt="Ghost screenshot" />
</figure>

<LinkTo @route="setup.two" @classNames="gh-btn gh-btn-green gh-btn-lg gh-btn-icon gh-btn-icon-right">
    <span>계정 생성 - 여기서부터 시작합니다{{svg-jar "arrow-right-small"}}</span>
</LinkTo>
